<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card>
                <div class="container text-center">
                    <img src="../../../assets/quizlogo.png" height="144" width="144" alt="">
                </div>
                <h1 class="text-center">
                    Login Here!!
                </h1>
                 
                <form (ngSubmit)="formSubmit()">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input
                        [(ngModel)] = "loginData.username"
                        name = "username"
                        required matInput placeholder="Enter here">
                        <mat-hint>Valid Username</mat-hint>
                      </mat-form-field>

                      <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input
                        [(ngModel)] = "loginData.password"
                        name = "password"
                        type="password" required matInput placeholder="Enter here">
                      </mat-form-field>

                     

                      <div class="container text-center">
                         <button type="submit" mat-raised-button color="primary">Login</button>
                         <button style="margin-left: 20px;" mat-raised-button color="accent">Reset</button>
                        </div>

                        <div style="margin-bottom: 10px;"></div>
            </form>
        </mat-card>
            </div>
        </div>
    </div>
</div>
